<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<body style="font-family: Arial; font-size: 14px;">
	
	<p style="text-align: center;">
		<img src="cid:$logo"/>
	</p>

	<h1 style="font-size: 22px">Olá Sr(a) $passwordReset.usuario.nome</h1>
	
	<p>
		Alguém solicitou alteração nas suas credenciais de sua conta Bores. Se foi você, click no link abaixo para redefinir sua senha.
	</p>
	
	<table style="width: 100%; border-collapse: collapse;  margin: 20px 0">
		<tr style="border-bottom: 1px solid #ccc; border-top: 1px solid #ccc">
			<td style="vertical-align: top; padding-bottom: 10px; padding-top: 10px">
				<div style="display: block; font-weight: bold; font-size: 16px" >Solicitado em: </div>
			</td>
			<td style="vertical-align: top; text-align: right; padding-bottom: 10px; padding-top: 10px">
				<span style="display: block; font-weight: bold; font-size: 16px">$passwordReset.dataSolicitacao.format($formato)</span>
			</td>
		</tr>
		
		<tr style="border-bottom: 1px solid #ccc; border-top: 1px solid #ccc">
			<td style="vertical-align: top; padding-bottom: 10px; padding-top: 10px">
				<div style="display: block; font-weight: bold; font-size: 16px" >Válido até: </div>
			</td>
			<td style="vertical-align: top; text-align: right; padding-bottom: 10px; padding-top: 10px">
				<span style="display: block; font-weight: bold; font-size: 16px">$passwordReset.dataValidade.format($formato)</span>
			</td>
		</tr>
		
	</table>
	
	<p style="font-size: 14px;">
		<a href="$urlSolicitacao" style="background-color: #4CAF50; padding: 10px;border-radius: 3px;text-decoration: none;color: #FFF;">Redefinir senha</a>
		<a href="$urlCancelamento" style="background-color: #FF0000; padding: 10px;border-radius: 3px;text-decoration: none;color: #FFF;">Cancelar não fui eu</a>
	</p>
	
	<p>Obrigado.</p>
	<p>Equipe Bores!</p>
</body>
</html>